//imported fonts
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.cover-hero-dining {
  .heroImage(url("../img/hero-img/dining_hero.jpg"));
  @media @desktop, @mobile-device {
    
  }
}

.info {
  text-align: center;
  h1 {
    .headFont();
    @media @desktop, @mobile-device {
      padding: 0 30px 150px 30px;
    }
  }
  p {
    .paragraph();
  }
}

.button {
  text-align: center;
  padding-top: 20px;
  button {
    .btn();
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  padding: 50px 150px 50px 150px;
  @media @desktop, @mobile-device {
    padding: 50px 20px 50px 20px;
  }
  .gallery-item-1 {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
    .gallery-img {
      .galleryImg();
    }
  }
  .gallery-item-2 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 12;
    .gallery-img {
      .galleryImg();
    }
  }
  .gallery-item-3 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
    .gallery-img {
      .galleryImg();
    }
  }
  .gallery-item-4 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 12;
    .gallery-img {
      .galleryImg();
    }
  }
  .gallery-item-5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 14;
    .gallery-img {
      .galleryImg();
    }
  }
  .gallery-item-6 {
    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 14;
    .gallery-img {
      .galleryImg();
    }
  }
}

.rules {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 0 70px 150px 70px;
  @media @desktop, @mobile-device {
    grid-template-columns: 1fr;
    padding: 0 30px 150px 30px;
  }
  h3 {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding-bottom: 30px;
    @media @desktop, @mobile-device {
      grid-template-columns: 1fr;
    }
    p {
      .paragraph();
      display: inline-block;
      float: none;
      @media @desktop, @mobile-device {
        padding-bottom: 70px;
      }
    }
  }
}


.rules .column p {
  .paragraph();
  padding: 0px 60px;
  color: @gray;
  line-height: 25px;
  font-size: 16px;
}
