footer{
  background-color: @lightblack;
  text-align: center;
  img {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  ul {
    width: 100%;
    display: table;
    text-align: center;
    li {
      display: inline-block;
      float: none;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 70px;
      a {
        text-decoration: none;
        color: @gold;
        text-transform: uppercase;
        font: 12px Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        &:hover {
          cursor: pointer;
          color: @white;
        }
      }
    }
  }
  .address{
    color: @lightgray;
    font-size: 1.2rem;
    line-height: 22px;
    span {
      color: @gold;
    }
  }
  .social-media a {
    font-size: 22px;
    display: inline-block;
    text-decoration: none;
    &:hover {
      color: @gold;
    }
  }
  .fa {
    color: #fff;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
}
