//color pallete
@white: #FFF;
@black: #000;
@gold: #BB8D4B;
@gray: gray;
@lightblack: #131313;
@lightgray: #F3F3F3;

//font sizes
@parafontsize: 1.7rem;


//media queries
@mobile-device: ~"(max-device-width: 500px)";
/* styles for mobile browsers smaller than 500px; (iPhone) */

@small-screen: ~"(max-width: 500px)";
/* styles for browsers smaller than 500px; (iPhone) */

@medium-screen: ~"(max-width: 768px)";
/* default iPad screens */

@tablet-device: ~"(device-width: 768px)";
/* default iPad screens */

@tablet-landscape: ~"only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape";
/* For landscape layouts only */

@tablet-portrait: ~"only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait)";
/* For portrait layouts only */

@desktop: ~"(max-width: 960px)";
/* styles for browsers larger than 960px; */

@desktop-bigscreen: ~"(max-width: 1440px)";
/* styles for browsers larger than 1440px; */

@desktop-widescreen: ~"(max-width: 2000px)";
/* for sumo sized (mac) screens */
